


@media (max-width:700px) {
    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 50%;
        border-right: 1px solid #ccc;
        opacity: .85;
        padding: 30px;
    }
    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    .home-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .xbox .content p{
        display: none;
    }
    .xbox .content h2{
        margin-bottom: 20px;
    }
    .carbon .content {
        width: 85%;
        
    }
    .links .link-inner{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px){
    .home-cards{
        grid-template-columns: 1fr;
    }
    .links .link-inner{
        grid-template-columns:1fr;
    }
}